<!DOCTYPE html>
<html>
<%- include('./partials/head'); %>
<body class="w-full">
	<%- include('./partials/header'); %>
	
<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>