<!DOCTYPE html>
<html>
<head>
	<title>optimizaT</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/output.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body class="w-full">
	<h1>Profile Section</h1>
</body>

</html>